<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Find Objects</name>
    <description>
        Find Objects game with AppLovin MAX ads.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />

    <icon src="assets/Icon.png" />

    <platform name="android">
        <icon src="assets/Icon.png" density="ldpi" width="36" height="36" />
        <icon src="assets/Icon.png" density="mdpi" width="48" height="48" />
        <icon src="assets/Icon.png" density="hdpi" width="72" height="72" />
        <icon src="assets/Icon.png" density="xhdpi" width="96" height="96" />
        <icon src="assets/Icon.png" density="xxhdpi" width="144" height="144" />
        <icon src="assets/Icon.png" density="xxxhdpi" width="192" height="192" />
        <splash src="assets/splash_screen.png" density="ldpi" />
        <splash src="assets/splash_screen.png" density="mdpi" />
        <splash src="assets/splash_screen.png" density="hdpi" />
        <splash src="assets/splash_screen.png" density="xhdpi" />
        <splash src="assets/splash_screen.png" density="xxhdpi" />
        <splash src="assets/splash_screen.png" density="xxxhdpi" />
    </platform>

    <hook type="after_prepare" src="hooks/after_prepare/patch-android-splash.js" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://stage-configs.artintgames.com/*" />
    <allow-navigation href="https://stage-auth.artintgames.com/*" />
    <allow-navigation href="https://stage-profile.artintgames.com/*" />
    <access origin="*" />

</widget>
